<div class="container">
    <div class="bg-success justify-content-around d-flex align-items-center">
        <div>
            <h1 class="text-white m-3">Easy Importer</h1>
            <br />
            <p class="text-white m-3">Welcome to the Easyimporter application. Easily import and organize data from Excel files, then download your managed data as an Excel file. To get started, register now for seamless access and control</p>
        </div>
        <img width="800" src="~/data/photo.png" />
    </div>

</div>

